
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model ECommerce.Models.Utente;
@{
    ViewData["Title"] = "Logout";
}    
<h1>Sei sicuro di voler eseguire il logout?</h1>
<form asp-controller="Utenti" asp-action="Logout" method="post">
        <button type="submit">Logout</button>
</form>