@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto a BookMania!</h1>
    <p>Entra anche tu nel mondo della tlettura insiema noi e immergiti in tutte le mille avventure!</p>
    <p>Qui potrai leggere tutti i libri che vuoi, dai grandi classici ai stupefacenti fumetti che fanno appassionare tutti.</p>
    <p>Visita il nostro shop cliccando <a asp-action="Shop" asp-controller="Libri">qui</a> e controlla se ti emoziona qualche libro!</p>
</div>
